<a href="https://colab.research.google.com/github/R329aghav/Raghavjr/blob/main/Predicting_values_using_Support_vector_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
path="/content/drive/MyDrive/DATASETS/bangalore house price prediction OHE-data.csv"
data=pd.read_csv(path)

In [ ]:
data.head()

   bath  balcony  ...  location_Mahadevpura  location_Tumkur Road
0     3      2.0  ...                     0                     0
1     3      3.0  ...                     0                     0
2     3      2.0  ...                     0                     0
3     2      2.0  ...                     0                     0
4     2      2.0  ...                     0                     0

[5 rows x 108 columns]

In [ ]:
X=data.drop(['price'],axis=1)
y=data['price']

In [ ]:
print("X_shape--->",X.shape)
print("y_shape--->",y.shape)

X_shape---> (7120, 107)
y_shape---> (7120,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
X_train.shape

(5696, 107)

In [ ]:
print("X_train_shape-->",X_train.shape)
print("X_test_shape-->",X_test.shape)
print("y_train_shape-->",y_train.shape)
print("y_test_shape-->",y_test.shape)

X_train_shape--> (5696, 107)
X_test_shape--> (1424, 107)
y_train_shape--> (5696,)
y_test_shape--> (1424,)

FEATURE SCALING SET DATA FROM -1 TO 1

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_feature=StandardScaler()
X_train=sc_feature.fit_transform(X_train)
X_test=sc_feature.fit_transform(X_test)

APPLYING SUPPORT VECTOR ALGORITHM

In [ ]:
from sklearn.svm import SVR

In [ ]:
svr_regressor=SVR(kernel='rbf')

In [ ]:
svr_regressor.fit(X_train,y_train)
#radial basis function

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
predicted=svr_regressor.predict(X_test)

In [ ]:
print(predicted)

[ 60.19142582  39.03631244  68.33641994 ...  81.83860488  72.47566154
 230.46515451]

In [ ]:
dataframe=pd.DataFrame(y_test,predicted)

In [ ]:
print(dataframe)

            price
60.191426     NaN
39.036312     NaN
68.336420     NaN
79.371492     NaN
66.931256     NaN
...           ...
132.180766    NaN
55.611328     NaN
81.838605     NaN
72.475662     NaN
230.465155    NaN

[1424 rows x 1 columns]

In [ ]:
dataframe=pd.DataFrame({'Actual':y_test,'predict':predicted})

In [ ]:
print(dataframe)

      Actual     predict
1189    68.0   60.191426
5876    36.0   39.036312
5597    61.0   68.336420
3391    85.0   79.371492
6122    64.0   66.931256
...      ...         ...
5830   187.0  132.180766
4887    57.0   55.611328
1861    90.0   81.838605
3014    75.0   72.475662
1670   864.0  230.465155

[1424 rows x 2 columns]

In [ ]:
svr_regressor.score(X_test,y_test)

0.28162352755513675

In [ ]:
svr_linear=SVR(kernel='linear')

In [ ]:
svr_linear.fit(X_train,y_train)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma='scale',
    kernel='linear', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
svr_linear.score(X_test,y_test)

0.8213255249405982

In [ ]:
X_test[0]

array([-0.43875851,  0.5626897 , -0.04336068, -0.55388758, -0.45927421,
        0.60006367, -0.4892224 , -0.26433365,  0.49142605, -0.18270663,
       -0.15873873, -0.15402578, -0.13367837, -0.11314714, -0.13637447,
       -0.13637447, -0.10660036, -0.11935248, -0.11314714, -0.09964476,
       -0.09598606, -0.10992018, -0.12234347, -0.09964476, -0.09964476,
       -0.0751646 , -0.08409599, -0.10660036, -0.08823182, -0.0751646 ,
       -0.07028523, -0.0751646 , -0.07028523, -0.09964476, -0.03750293,
       -0.05935999, -0.08823182, -0.09218776, -0.03750293, -0.06504853,
       -0.09598606, -0.06504853, -0.05935999, -0.07028523, -0.07028523,
       -0.08823182, -0.05935999, -0.0751646 , -0.05307449, -0.02650926,
       -0.06504853, -0.07028523, -0.05935999, -0.07028523, -0.06504853,
       -0.07975227, -0.07028523, -0.0751646 , -0.05935999, -0.06504853,
       -0.07975227, -0.07975227, -0.08409599, -0.06504853, -0.07028523,
       -0.04594768, -0.0751646 , -0.06504853, -0.06504853, -0.07028523,
       -0.05935999, -0.05307449, -0.03750293, -0.04594768, -0.05935999,
       -0.05935999, -0.07028523, -0.04594768, -0.05307449, -0.06504853,
       -0.04594768, -0.05307449, -0.04594768, -0.04594768, -0.0751646 ,
       -0.07028523, -0.07975227, -0.05935999, -0.03750293, -0.05935999,
       -0.03750293, -0.08409599, -0.07028523, -0.07028523, -0.04594768,
       -0.02650926, -0.0751646 , -0.05307449, -0.05307449, -0.05935999,
       -0.03750293, -0.06504853, -0.03750293, -0.06504853, -0.06504853,
       -0.0751646 , -0.05307449])

In [ ]:
svr_linear.predict([X_test[0]])

array([73.50738154])

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np

In [ ]:
mse=mean_squared_error(y_test,predicted)

In [ ]:
print(mse)

9121.117054333952

In [ ]:
rmse=np.sqrt(mse)

In [ ]:
print(rmse)

95.50453944359897